.story {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 115px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.082);
    display: inline-flex;
    cursor: pointer;
    transition: all .4s;
}

.story:hover {
    transform: scale(1.02);
}

.story:hover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    top: 0;
    left: 0;
}

.story>.MuiAvatar-root {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 4px solid var(--blue);
}

.story h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: 0.9rem;
}