.Header {
    display: flex;
    height: 80px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.129);
    padding: 15px 25px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    gap: 10px;
}

.logo {
    width: 40px;
}

.header_left,
.header_middle,
.header_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_input {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 6px 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f7ff;
}

.header_input input {
    border: none;
    outline: none;
    background-color: #f0f7ff;
}

.search {
    color: var(--secondary);
}

.header_middle {
    gap: 1rem;
}

.hrader_option {
    cursor: pointer;
    color: #555;
    transition: all .5s;
    padding: 3px 16px;
    border-bottom: 3px solid transparent;
}

.active,
.active:hover,
.hrader_option:hover {
    color: var(--blue);
    background-color: #f3f3f4;
    border-bottom: 3px solid var(--blue);
}

.header_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}