:root {
    --blue: #1877f2;
    --white: #fff;
    --smoke: #f0f2f5;
    --black: #202020;
    --secondary: #555;
}

.app_body {
    display: flex;
    gap: 10%;
    width: 100%;
}

.app_body .sidebar {
    width: 20%;
}

.app_body .Feed {
    width: 46%;
}

.app_body .widgets {
    width: 20%;
}